<div class="container">
	<div class="enunciado">

		<h1> Have you finished your tutorials? GREAT! Now we have a new challenge for you! </h1>

		<p> Pay attention, because I shall say this only once: </p>

		<p>On this beautiful and perfect website we have given you 3 examples: </p>
		<ul>
			<li> ORDER FROM; </li>
			<li> SHOPPING CART; </li>
			<li> TO DO LIST; </li>
		</ul>
		<p> Your task here is to replicate these three examples. Obviously they dont have to look the same as ours (because ours look
			awesome!!!!), but they have to do the same things (have the same functionalities). </p>

		<p>Just in case you're wondering what those functionalities are, we're going to do you a favor and write them down:</p>

		<p> <b> ORDER FROM:</b> If you can't see all the functionalities of this marvelous app, then I am very disapointed in you!
			But anyway, it's kind of like a shop, and when you click on an item, the price of that item is added to the total price.
			(and just in case you made a mistake and don't want to buy that item, if you re-click on it, it gets removed from the
			total price!)</p>

		<p><b>	SHOPPING CART:</b> Ok, so this one is a little bit more complicated. You have the same thing as before, only this time,
			when you click on an item, it gets added to a shopping cart (with the total price of the items in it). You also have to
			create a few extra things, like a add and subtract and remove buttons from an item in the cart. Ahh almost forgot, you
			also have to make the view of the list be able to change from list to blocks. Got it? Easy peasy!</p>

		<p><b>	TO DO LIST:</b> Ohh we already did this one in the tutorial!! Yes.. Yes.. we know, but we made it a bit harder for
			you guys. Not only must you make a To Do List, that adds items when pressing enter, it also has to do the following things:</p>
		<ul>
			<li> Count all the active (or not completed) items, </li>
			<li> Button that shows Active tasks,</li>
			<li> Button that shows Completed tasks,</li>
			<li> Button that shows All the tasks, </li>
			<li> Button that removes all the completed tasks from the list,</li>
			<li> Each task must have a way to see if the task is active or completed;</li>
			<li> Each task must have a way to be removed from the list.</li>
		</ul>
		<p></p>
		<p> And just to make things more fun, we added another thing: </p>

		<ul>
			<li> You must have a search bar that filters your To Do List as you type. (In our example, we decided that the best way was
				to create a button that changes the functionality of our input between add a task and search for a task.)</li>
		</ul>

		<p>Now that you know what these examples do, try to do them by yourself. Seriously, really <em> really </em> try not to look
			at our code (even though you're allowed to if you ever get stuck or need a little help).</p>

		<p>After you've completed the three examples, we have an exercise for you. In this one we aren't providing any code, and we
			want you to make it all by yourself. </p>

		<p>Good luck!!</p>
	</div>
</div>