<div class="enunciado">
	<h1>Contact List Exercise:</h1>
	<br><br>

	<p class="mainParagraph"><b>Create a Contact List app with the following requirements:</b></p>

	<ul>
		<li>Contacts Name;</li>
		<li>Contacts Phone Number;</li>
		<li>Contacts Email;</li>
		<li>Other contact options (at your choice);</li>
	</ul>

	<p class="mainParagraph"><b>Search Bar with the following filters:</b></p>

	<ul>
		<li>Search by name;</li>
		<li>Search by phone number;</li>
		<li>Search by Email;</li>
		<li>Other filters options (at your choice);</li>
	</ul>

	<p>There must be only one input type (add/search contact) and the search filter must be choosen with a button or a dropdown
		list at your choice.</p>

	<p>If no filter has been choosen, the search must look in all fields.</p>

	<p>The contacts must be automatically ordered by Name.</p>

	<p>Each contact must have a checkbox and there must be a button to delete all checked contacts.</p>
	<br>
	<hr>
	<br>
	<h1>Website Exercise:</h1>
	<br><br>
<p>Now that you have completed at least 4 AngularJS simple applications it's time to show off your awesome coding skills!</p>
	<p class="mainParagraph"><b>You must create a webpage with a nav bar that links all the exercises together!! (Basically, what we did here). YOU MUST USE ANGULAR TO DO THIS!! Or else..."</b></p>


</div>